# Ignore files with no extension
*
!*/
!*.*


# JS/TS
*.js
*.ts


# Python
*.py[cod]


# Misc
temp*.*
temp
*.txt
*.log


# Nim
nimcache/
nimblecache/
htmldocs/
docs/nimcache/
docs/nimcache/runnableExamples/
docs/nimcache
*.json
*.nims
*.c
*.h
*.hpp
*.cpp
*.asm
*.o
*.exe
